body{
    font-weight: 600;
}
.home{
    padding: 0px 30px !important;
    text-align: center;
}
.signin{
    color: aliceblue !important;
}
.navbar{
    
}
.font{
     font-family: 'Audiowide', cursive;
}