body{
    font-family: 'Audiowide', cursive;
}
.home{
    padding: 0px 30px !important;
     text-align: center;
}
.top-bar{
    margin-top: 30px;
    width: 100%;
    padding-left: 30px;
}
h3{
    margin-top: 20px;
    border: 1px solid red;
    background-color: red;
    color: white;
    border-radius: 20px;
    padding: 5px;
}
.comman{
    text-align: center;
}
.signin{
    color: aliceblue !important;
}