body{
    font-family: 'Audiowide', cursive;
    background-color: #030303 !important;
    
    overflow-x: hidden;
    
}
.home{
    padding: 0px  30px  !important;
    text-align: center;
}


.signin{
    color: aliceblue !important;
    
}
.clear{
    clear: both;
}
h1{
    text-align: center;
    background-color:red;
    width:100%;
    border:0.5em border red; 
    color: white;
    

}
.color{
    color: white !important;
}

.comman{

    background-color: black;
border:1px solid black;
text-align: center;

}
.comman :hover{
    background-color:#ff0000;
}
h2{
    color:white;
}
.doller{
    font-size: 36px;
    color: whitesmoke !important;

}
.font{
    color: white !important;
    font-size: 14px;
}
