/* body{
    font-family: 'Audiowide', cursive;
} */
.home{
    padding: 0px 30px !important;
     text-align: center;
}
.signin{
    color: aliceblue !important;
}


html,body{
background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
 font-family: 'Audiowide', cursive;
 overflow-y: hidden;
}

.container{
height: 100%;
align-content: center;
}

.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color:#0056B3 !important;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}
.card-header h3{
color: white;
}



.input-group-prepend span{
width: 50px;
background-color: #0056B3;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.signup_btn{
color: black;
background-color: rgb(29, 128, 235);
width: 100px;
}

.signup_btn:hover{
color: black;
background-color: white ;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}